# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Build process
.depend

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.dSYM
*.mod

vicNl
vic_classic
vic_image
liblnd.a

.DS_Store
TAGS

*egg-info*
