# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Build process
.depend
.cache
build/
dist/
vic_headers.py

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.dSYM
*.mod

vicNl
vic_classic.exe
vic_image.exe
liblnd.a
_vic.py
vic_timing_*txt
massif.out.*
vic_call_graph_*

vic_call_graph*
gmon.out

.DS_Store
TAGS

*egg-info*

# Python stuff
__pycache__
.ipynb_checkpoints
.eggs

# Netbeans stuff
nbproject

# Test folders
image_test
uncrust.sh
*.exe

# WUR specific
not4git
samples_wur