# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

vicNl
VIC.sublime-project
VIC.sublime-workspace
*.sublime-project
*.sublime-workspace

.DS_Store
