language: c
compiler:
  - clang
  - gcc
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y libnetcdf-dev
    - sudo apt-get install -y mpich2
script:
    - make full -C vic/drivers/classic/
    - make full -C vic/drivers/image/
