language: c
sudo: false # use container based build
notifications:
  email: false

matrix:
  fast_finish: true
  include:
  # Image Driver
  - compiler: gcc
    os: linux
    env: TESTID='image'
    addons:
      apt_packages:
        - libnetcdf-dev
        - netcdf-bin
        - netcdf-doc
        - gfortran
        - valgrind
        # open-mpi is built from source in image.travis
  # Image Driver with rvic-routing
  - compiler: gcc
    os: linux
    env: TESTID='image' EXTENSION='ROUT=rout_rvic'
    addons:
      apt_packages:
        - libnetcdf-dev
        - netcdf-bin
        - netcdf-doc
        - gfortran
        - valgrind
        # open-mpi is built from source in imagervic.travis
  # CESM Driver
  - compiler: gcc
    os: linux
    env: TESTID='cesm'
    addons:
      apt_packages:
        - libnetcdf-dev
        - netcdf-bin
        - netcdf-doc
        - gfortran
        # open-mpi is built from source in cesm.travis
  # Classic Driver
  - compiler: clang
    os: linux
    env: TESTID='classic'
    addons:
      apt_packages:
        - valgrind
      sources:
         - ubuntu-toolchain-r-test
  - compiler: gcc
    os: linux
    env: TESTID='classic'
    addons:
      apt_packages:
        - valgrind
      sources:
         - ubuntu-toolchain-r-test
  - compiler: gcc
    os: linux
    env: TESTID=classic USE_CC=gcc-5
    addons:
      apt:
        packages:
          - gcc-5
          - gcc-5-multilib
          - linux-libc-dev:i386
          - valgrind
        sources:
          - ubuntu-toolchain-r-test
  - compiler: clang
    os: linux
    env: TESTID=classic USE_CC=clang-3.6
    addons:
      apt:
        packages:
          - clang-3.6
          - valgrind
        sources:
          - llvm-toolchain-precise-3.6
          - ubuntu-toolchain-r-test
  - compiler: gcc
    os: osx
    env: TESTID=classic BREW_INSTALLS=valgrind
  allow_failures:
    # OSX build moved to allowed failures because throughput was so slow on travis
  - compiler: gcc
    os: osx
    env: TESTID=classic BREW_INSTALLS=valgrind
before_install:
  - source ci/vic_install_utils
  - source ci/${TESTID}.travis
  - install_miniconda
  - vic_before_install
install:
  - vic_install
before_script:
  - vic_before_script
script:
  - vic_script
after_success:
  - vic_after_success
after_failure:
  - vic_after_failure
