language: c
sudo: false # use container based build
notifications:
  email: false

matrix:
  fast_finish: false
  include:
  # Classic Driver
  - compiler: clang
    os: linux
    env: TESTID='classic'
  - compiler: gcc
    os: linux
    env: TESTID='classic'
  - compiler: gcc
    os: linux
    env: TESTID=classic USE_CC=gcc-5
    addons:
      apt:
        packages:
          - gcc-5
          - gcc-5-multilib
          - linux-libc-dev:i386
        sources:
          - ubuntu-toolchain-r-test
  - compiler: clang
    os: linux
    env: TESTID=classic USE_CC=clang-3.6
    addons:
      apt:
        packages:
          - clang-3.6
        sources:
          - llvm-toolchain-precise-3.6
          - ubuntu-toolchain-r-test
  - compiler: gcc
    os: osx
    env: TESTID=classic
  # Image Driver
  - compiler: gcc
    os: linux
    env: TESTID='image'
    addons:
      apt_packages:
        - libnetcdf-dev
        - gfortran
        # open-mpi is built from source in image.travis
  # Python Driver
  - compiler: clang
    os: linux
    env: TESTID="python" TRAVIS_PYTHON=2.7
  - compiler: gcc
    os: linux
    env: TESTID="python" TRAVIS_PYTHON=2.7
  - compiler: clang
    os: linux
    env: TESTID="python" TRAVIS_PYTHON=3.5
  - compiler: gcc
    os: linux
    env: TESTID="python" TRAVIS_PYTHON=3.5

before_install:
  - source ci/${TESTID}.travis
  - vic_before_install
install:
  - vic_install
script:
  - vic_script
after_success:
  - vic_after_success
after_failure:
  - vic_after_failure
