language: c
compiler:
  - clang
  - gcc
os:
  - linux
  - osx
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y libnetcdf-dev
script:
    - make full -C drivers/classic/
    - make full -C drivers/image/
